<article class="article-block">
    <h4 class="article-title">{{data.blockname}}:</h4>

    <p class="article-descr">
        <span title="Birthday">{{data["date-of-birth"].key}}:</span> {{data["date-of-birth"].val}}
    </p>

    <p class="article-descr">
        <span title="City">{{data["city"].key}}:</span> {{data["city"].val}}
    </p>

    <p class="article-descr">
        <span title="English level">{{data["english"].key}}:</span> {{data["english"].val}}
    </p>

    <p class="article-descr">
        <span title="Education">{{data.education.key}}:</span> {{data.education.val}}
    </p>
</article>